
.icon-search:before { content: '\e800'; } /* '' */
.icon-slideshare:before { content: '\e825'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-star-half:before { content: '\e803'; } /* '' */
.icon-star-half-alt:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-export-alt:before { content: '\e827'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-lightbulb:before { content: '\e820'; } /* '' */
.icon-block:before { content: '\e81f'; } /* '' */
.icon-down-open:before { content: '\e80f'; } /* '' */
.icon-left-open:before { content: '\e819'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-up-open:before { content: '\e810'; } /* '' */
.icon-angle-left:before { content: '\e81b'; } /* '' */
.icon-angle-right:before { content: '\e81c'; } /* '' */
.icon-angle-up:before { content: '\e81d'; } /* '' */
.icon-angle-down:before { content: '\e81e'; } /* '' */
.icon-arrows-cw:before { content: '\e821'; } /* '' */
.icon-target:before { content: '\e811'; } /* '' */
.icon-globe:before { content: '\e818'; } /* '' */
.icon-off:before { content: '\e822'; } /* '' */
.icon-circle-empty:before { content: '\e812'; } /* '' */
.icon-dot-circled:before { content: '\e813'; } /* '' */
.icon-asterisk:before { content: '\e814'; } /* '' */
.icon-megaphone:before { content: '\e815'; } /* '' */
.icon-bullseye:before { content: '\e817'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-share-1:before { content: '\e826'; } /* '' */
.icon-share:before { content: '\e823'; } /* '' */
.icon-universal-access:before { content: '\e824'; } /* '' */
.icon-right-open:before { content: '\e81a'; } /* '' */